@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.detail-post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 1200px;
  min-height: 70vh;
  margin: 0 auto 50px;
  color: #4e4e4e;
}

.detail-post-title {
  font-family: 'yg-jalnan';
  font-size: 30px;
  width: 450px;
  height: 50px;
  margin: 70px 0;
  border-bottom: 1px solid #4e4e4e;
}

.detail-post-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.detail-post-form label,
.upload-img-label {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.upload-img-label {
  background-color: #fff;
}

.upload-img {
  width: 150px;
  height: 40px;
  color: #fff;
  font-size: 20px !important;
  line-height: 40px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 17%);
  background-color: #F6C9CA;
  margin-bottom: 25px !important;
  transition: background-color 300ms;
}

.upload-img:hover {
  cursor: pointer;
  background-color: #FFD9DA;
}

.upload-img:focus {
  cursor: pointer;
}

.upload-img:active {
  background-color: #ffb3b4;
}

#detail-post-img {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.img-exist {
  width: fit-content;
  height: fit-content;
  background-color: #F7F7F4;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 17%);
  padding: 10px;
  margin: 10px 0 20px;
}

.cat-img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin: 10px;
}

.input {
  width: 500px;
  color: #4e4e4e;
  font-size: 20px;
  background-color: #F7F7F4;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 17%);
  padding: 10px 15px;
  margin-bottom: 25px;
  transition: box-shadow 300ms;
}

.input:focus,
.input:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 50%);
  outline: none;
}

#detail-post-name,
#detail-post-date,
#detail-post-address {
  height: 60px;
}

#detail-post-desc,
#detail-post-remark {
  height: 120px;
  resize: none;
  padding: 15px 15px;
}

.submit-btn {
  width: 500px;
  height: 60px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  background-color: rgba(141,164,207,0.55);
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 17%);
  transition: background-color 300ms;
}

.submit-btn:hover {
  background-color: rgba(160, 180, 212, 0.55);
}

.submit-btn:active,
.submit-btn:focus {
  outline: none;
}

.submit-btn:active {
  background-color: rgba(114, 146, 204, 0.55);
}

