@charset "utf-8";
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menufont {
    color: #4E4E4E;
    font-family: TmoneyRoundWindExtraBold;
    font-size: large;
}

.footer {
    background-color: #EBEBEB;
    height: 200px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.footerp{
    font-family: TmoneyRoundWindRegular;
    text-align:center;
    vertical-align:middle;
    padding-top: 90px;
}
