@charset "utf-8";
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menufont {
    color: #4E4E4E;
    font-family: TmoneyRoundWindExtraBold;
    font-size: large;
}

.footer {
    background-color: #EBEBEB;
    height: 200px;
    text-align: center;
    align-items: center;
    width: 100%;
}

.footerp {
    font-family: TmoneyRoundWindRegular;
    text-align: center;
    vertical-align: middle;
    padding-top: 90px;
}

.myinfo_dropdown {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: larger;
    background: linear-gradient(104deg, #f7a1a2 11%, #8da4cf 121%);
    -webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;*/
    color: black;
}

.dropdown-toggle{
    color: #8DA4CF;
}

.dropdown-toggle:hover{
    color: #f6c9ca;
}


