@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 1200px;
  min-height: 70vh;
  margin: 0 auto;
  color: #4e4e4e;
}

.title {
  font-family: 'yg-jalnan';
  font-size: 30px;
  width: 450px;
  height: 50px;
  margin: 70px 0;
  border-bottom: 1px solid #4e4e4e;
}

.container {
  text-align: center;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  background-color: #F7F7F4;
  border-radius: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 17%);
}

.post:nth-child(3n) {
  margin-right: 0;
}

.post:last-child {
  margin-right: 0;
}

.post:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 30%);
}

.post-name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

.post-button {
  display: inline-block;
  width: 80px;
  height: 30px;
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  background-color: #F6C9CA;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 17%);
  margin-right: 30px;
  transition: background-color 300ms;
}

.post-button:focus {
  outline: none;
  text-decoration: none;
}

.post-button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #FFD9DA;
}

.post-button:active {
  background-color: #ffb3b4;
}

.post-button:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {

  .post-container {
    max-width: 925px;
  }

  .post:nth-child(3n) {
    margin-right: 30px;
  }

  .post:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (max-width: 790px) {

  .post-container {
    max-width: 595px;
  }

  .post:nth-child(3n) {
    margin-right: 0;
  }

  .post {
    margin-right: 0;
  }

}