#map-container{
  height: 100vh;
  width: 100vw;
}

.info-window {
  display: block;
  width: 120px;
  height: 40px;
  background: white;
  border: {
    width: 3px;
    color: black;
    style: solid;
  }
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 7px;

  &::before, &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
  }

  &::before {
    right: 48px;
    border: {
      top: 12px solid black;
      left: 10px solid transparent;
      right: 10px solid transparent;
    }
  }

  &::after {
    right: 52px;
    border: {
      top: 8px solid white;
      left: 6px solid transparent;
      right: 6px solid transparent;
    }
  }
}